{{#section 'head'}}
    <!-- Sweet Alert Css -->
    <link href="./plugins/sweetalert/sweetalert.css" rel="stylesheet" />
{{/section}}
<section class="fullContent">
    <div class="container-fluid">
        <div class="block-header">
            <h2>
                INTEGRANTES
                <small>Elias Eskaff, Lorenzo Baena, Cristian Camilo David, Oscar Uribe, Juan Diego Torres</small>
            </h2>
        </div>
        <!-- Advanced Form Example With Validation -->
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>FORMULARIO EXTRAPOLACION</h2>
                        <ul class="header-dropdown m-r--5">
                            <li class="dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="javascript:void(0);">Action</a></li>
                                    <li><a href="javascript:void(0);">Another action</a></li>
                                    <li><a href="javascript:void(0);">Something else here</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="body">
                        <form id="wizard_with_validation" action="/extrapolar" method="POST">
                            <h3>Intervalo</h3>
                            <fieldset>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                        <select class="form-control" id="intervalo" name="intervalo">
                                            <option value=" ">Seleccione un intervalo*</option>
                                            <option value="1">Total del mes</option>
                                            <option value="30">Cada dia</option>
                                            <option value="15">Cada 2 dias</option>
                                            <option value="10">Cada 3 dias</option>
                                            <option value="6">Cada 5 dias</option>
                                            <option value="3">Cada 10 dias</option>
                                            <option value="2">Cada 15 dias</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group form-float">
                                    <div class="form-line">
                                            <input min="0" type="number" name="interes" class="form-control" required>
                                            <label class="form-label">Interes*</label>
                                    </div>
                                </div>
                            </fieldset>
                            <h3>Ingresos & Egresos</h3>
                            <fieldset>
                                <div id="holapp">
                                </div>
                            </fieldset>

                            <h3>Terminos y Condiciones - Fin</h3>
                            <fieldset>
                                <input id="acceptTerms-2" name="acceptTerms" type="checkbox" required>
                                <label for="acceptTerms-2">Acepto los terminos y condiciones.</label>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- #END# Advanced Form Example With Validation -->
    </div>
</section>
{{#section 'scripts'}}
    <!-- Jquery Validation Plugin Css -->
    <script src="./plugins/jquery-validation/jquery.validate.js"></script>
    <!-- JQuery Steps Plugin Js -->
    <script src="./plugins/jquery-steps/jquery.steps.js"></script>
    <!-- Sweet Alert Plugin Js -->
    <script src="./plugins/sweetalert/sweetalert.min.js"></script>
    <!-- Custom js -->
    <script src="./js/formIndex.js"></script>
{{/section}}